* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yellowtail';
}
body {
    background: linear-gradient(#2B00FF,#2B00FF, aliceblue);
}

.banner {
    background: url(../img/fachada-matheus-presentes-mobile.png) no-repeat center top / contain;
    width: 100%;
    height: 150px;
}
.titulo {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: red;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 3px;
}
.container {
    width: 95%;
    max-width: 450px;
    margin: auto auto;
}
.container__card {
    margin: 30px .7rem;
}
.card {

    display: flex;
    justify-content:space-around;
}
.modificador {
    justify-content:space-between;
}
.card__menor {
    background-color: #FFF500;
    padding: 30px 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    height: 200px;
    
}
.card__maior {
    position: relative;
    background-color: #FF0000;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
    height: 200px;
}
.card__maior__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bancada__imagem {
    position: relative;
    background: url(../img/tabua-de-madeira.png) no-repeat center top / cover;
    width: 120px;
    height: 80px;
    
}
.bancada__imagem img {
    position: absolute;
    width: 90px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.descricao {
    text-align: center;
    font-size: 17px;
    color: #FF0000;
    line-height: 15px;
    text-shadow: 2px 2px 5px #a4a3a3;
}
.descricao.yellow {
    color: #FFF500;
}
.card__preco__left, .card__preco__right {
    font-size: 20px;
    color: #FFF500;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    width: 80%;
    padding: 5px;
    background-color: #FF0000;
    text-shadow: 2px 2px 5px black;
}
.card__preco__left {
    left: 0;
    border-radius: 0 30px 30px 0; 
}
.card__preco__right {
    right: 0;
    border-radius: 30px 0 0 30px; 
}
.card__preco__left.maior, .card__preco__right.maior {
    width: 45%;
    background-color: #FFF500;
    color: #FF0000;
}
.card__preco__left .preco,.card__preco__right .preco {
    display: flex;
    line-height: 15px;
    flex-direction: column;
}
.card__preco__left span,.card__preco__right span {
    font-size: 12px;
    font-weight: initial;
    align-self: flex-end;
}

@media screen and (min-width: 768px) {
    .banner {
        background: url(../img/fachada-matheus-presentes.png) no-repeat center top / contain;
        height: 240px;
    }
    .titulo {
        font-size: 80px;
    }
    .container {
        max-width: 600px;
    }
    .card__menor, .card__maior {
        padding: 50px 40px;
        height: 350px;
    }
    .bancada__imagem {
        width: 200px;
        height: 150px;  
    }
    .bancada__imagem img {
        width: 170px;
    }
    .descricao {
        font-size: 30px;
        line-height: 30px;
    }
    .card__preco__left, .card__preco__right {
        font-size: 40px;
    }
    .card__preco__left span,.card__preco__right span {
        font-size: 17px;
    }
    .card__preco__left .preco,.card__preco__right .preco {
        line-height: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        background-size: cover;
        height: 470px;
    }
    .titulo {
        font-size: 100px;
        padding: 40px 0;
    }
    .container {
        max-width: 960px;
    }
    .container__card {
        margin: 60px 0;
    }
    .card__menor, .card__maior {
        padding: 70px 40px;
        height: 480px;
    }
    .bancada__imagem {
        width: 350px;
        height: 260px; 
        
    }
    .bancada__imagem img {
        width: 270px; 
    }
    .descricao {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .card__preco__left,.card__preco__right {
        font-size: 40px;
    }
    .card__preco__left, .card__preco__right {
        bottom: 20px;
        padding: 10px;
    }
    .card__preco__left .preco,.card__preco__right .preco {
        line-height: 25px;
        font-size: 50px;
    }
    .card__precos {
        padding: 10px 0;
    }
    .card__precos div {
        padding: 10px 40px;
        font-size: 40px;
    }
}